@media screen and (max-width: 1400px) {
    #profile {
        height: 83vh;
        margin-bottom: 6rem;
    }
    .about-containers {
        flex-wrap: wrap;
    }
}
@media screen and (max-width: 1200px) {
    #desktop-nav {
        display: none;
    }
    #hamburger-nav {
        display: flex;
        position: fixed;
        width: 100%;
        z-index: 10;
        top: 0;
        box-shadow: 0px 0px 5px 1px rgb(43, 43, 43);
        /* background: rgb(75, 132, 207); */
        background-color: #d3d3d3;
        opacity: 70%;
        overflow: visible;   
    }
    .logo {
        font-weight: 600;
    }
    .menu-links {
        background-color: rgb(192, 203, 209);
    }
    #experience, .experience-details-container {
        margin-top: 2rem;
        
    }
    #profile, .section-container{
        display: block;
    }

    #profile {
        height: 126vh;
    }

    #profile .section_pic-container{
        justify-content: center;
    }

    .arrow {
        display: none;
    }
    section, .section-container {
        height: fit-content;
    }
    section {
        margin-bottom: 3rem;
    }
    .section_pic-container {
        width: 275px;
        height: 275px;
        margin: 0 auto 2rem;
    }
    .about-containers {
        margin-top: 0;
    }

    .recommendation-container {
        flex-direction: column;
        width: 100%;
        align-items: center;
    }

    .game-container {
        height: 100%;
        position: relative;
    }

    .game-header-container {
        font-size: 10px;
        padding-left: 2.5rem;
    }

    .AW-logo,
    .game-short-description,
    .steam-btn-container {
        width: 350px;
    }

    .steam-btn {
        width: 100px;
        font-size: 10px;
    }
    .steam-icon {
        width: 30px;
    }

    .down-arrow-container {
        width: 30px;
        height: 30px;
        position: absolute;
        bottom: 3rem;
    }

    .game-full-description,
    .game-features {
        margin: 5rem 5rem 3rem 5rem;
        text-align: justify;
    }

    .game-trailer iframe,
    .slider-wrapper {
        width: 560px;
        height: 315px;
    }
}

@media screen and (max-width: 600px) {
    #contact, footer {
        height: 40vh;
    }
    #profile {
        height: 83vh;
        margin-bottom: 0;
    }
    article {
        font-size: 1rem
    }
    footer nav {
        height: fit-content;
        margin-bottom: 2rem;
    }
    .about-containers, .contact-info-upper-container, .btn-container {
        flex-wrap: wrap;
    }
    .contact-info-container {
        margin: 0;
    }
    .contact-info-container p, .nav-links li a {
        font-size: 1rem;
    }
    .experience-sub-title {
        font-size: 1.25rem;
    }
    .logo {
        font-size: 1.5rem;
    }
    .nav-links {
        flex-direction: column;
        gap: 0.5rem;
        text-align: center;
    }
    .section_pic-container {
        width: auto;
        height: 46vw;
        justify-content: center;
    }
    .section_text_p2 {
        font-size: 1.25rem;
    }
    .title {
        font-size: 2rem;
    }
    .text-container {
        text-align: justify;
    }
}